*/__pycache__
checkpoints/
results/
*.png
*.jpg
.vscode/
tensorboard/
visualize/
checkpoints.zip
saved_models/
*.pyc
__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

cnngeometric_pytorch/
comparison_result_*/
visualize/
precomputed_masks_*/
